.pageContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}
.title{
    color: #000;
    font-size: 40px;
    font-weight: bold;
}
.textStatusWrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 12px;
}
.dateWrapper{
    font-weight: bold;
}
.mainTexts{
    width: 100%;
    border: 1px solid #3d3b3b;
    border-radius: 10px;
    padding: 10px;
}